<div class="container-fluid text-center my-5">
    <div class="row">
        <h2>Các Lượt Tương Tác</h2>
    </div>
</div>
<div class="container">

    <div class="row">

        <div class="four col-md-3">
            <div class="counter-box colored">
                <i class="fa-solid fa-thumbs-up"></i>
                <span class="counter">2147</span>
                <p>Happy Customers</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box">
                <i class="fa-solid fa-user-group"></i>
                <span class="counter">3275</span>
                <p>Registered Members</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box">
                <i class="fa  fa-shopping-cart"></i>
                <span class="counter">289</span>
                <p>Available Products</p>
            </div>
        </div>
        <div class="four col-md-3">
            <div class="counter-box">
                <i class="fa  fa-user"></i>
                <span class="counter">1563</span>
                <p>Saved Trees</p>
            </div>
        </div>
    </div>

</div>