<div class="container mt-4 category">
    <div class="row sec-3-col ">
        <div class="col-lg-4 col-sm-12 col-md-4 img-box text-left ">
            <div class="inner-box  " style="width: 80px;">
                <img src="/assets/images/sgx.png" width="106" height="76" alt="">
            </div>
            <div class="box-text">
                <p>Sản Xuất Theo Yêu Cầu</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4 img-box text-left">
            <div class="inner-box   " style="width: 80px;">
                <img src="/assets/images/sgx.png" width="106px" height="76px" alt="">
            </div>
            <div class="box-text">
                <p>Sản Xuất Theo Yêu Cầu</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 col-md-4 img-box text-left">
            <div class="inner-box   " style="width: 80px;">
                <img src="/assets/images/sgx.png" width="106px" height="76px" alt="">
            </div>
            <div class="box-text">
                <p>Sản Xuất Theo Yêu Cầu</p>
            </div>
        </div>

    </div>
</div>
<div class="container-fluid text-center my-5">
    <div class="row">
        <h2>Danh Mục Sản Phẩm</h2>
    </div>
</div>

<div class=" container mt-3">
    <div class="row">
        <div class="col-sm-12 col-lg-12 ">
            <div class="col-inner">
                <div class="wrapper-home">
                    <div class="inner-home">
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                        <div class="item-home-parent">
                            <a href="#" class="item-category">
                                <img src="" alt=""><i class="fa-solid fa-couch fa-2xl"></i></img>

                                <p class="f20 color-1" style="margin-bottom: 0; font-weight: 600;">Ghế Sofa</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>