<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-white  d-flex flex-column mb-0">
        <div class="  mb-2 mb-lg-0 d-flex  align-items-center" style="width: 90%;">

            <div class="">
                <a class="navbar-brand fs-lg-3 fs-1 " href="/">Navbar</a>
            </div>



            <div class="d-flex align-items-center w-100 justify-content-end grid column-gap-3">
                <!-- Search -->
                <form th:action="@{/searchName}" method="get" class="col-lg-6 ">
                    <div class="d-block d-lg-none mt-3 fs-3">
                        <ion-icon name="search-outline"></ion-icon>
                    </div>

                    <div class="input-group d-none d-lg-flex  ">
                        <input type="text" name="name" class="form-control" placeholder="Tìm kiếm"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <button type="submit" class="input-group-text" id="basic-addon2">Search</button>
                    </div>
                </form>
                <!-- Search -->
                <div class="d-flex " style="z-index: 50;">
                    <div class="d-flex justify-content-around grid column-gap-3">
                        <!-- Login/Logout -->
                        <div class="btn-group mt-2">
                            <button
                                class="btn p-0 dropdown-toggle d-flex  align-items-center justify-content-between border-0"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i th:unless="${username}" class="fa-regular fa-user fa-2xl  mt-2"></i>
                                <p th:if="${username}" th:text="${username}" class="fs-5 pt-3"></p>
                            </button>

                            <ul class="dropdown-menu">
                                <div class="" th:unless="${username}">
                                    <li><a class="dropdown-item " th:href="@{/register}">Đăng Kí</a></li>
                                    <li><a class="dropdown-item " th:href="@{/login}">Đăng Nhập</a></li>
                                </div>

                                <form th:if="${username}" th:action="@{/logout}" method="post">
                                    <li><a class="dropdown-item " th:href="@{/info}">Thông tin cá nhân</a></li>
                                    <li sec:authorize="hasRole('ADMIN') or hasRole('STAFF')">
                                        <a th:href="@{/admin/products}" class="dropdown-item">Quản lý</a>
                                    </li>
                                    <li class="dropdown-item"><button class="border-0 bg-white" type="submit">Đăng
                                            xuất</button></li>
                                </form>
                            </ul>
                        </div>
                        <!-- Login/Logout -->

                        <!-- Cart -->
                        <a th:href="@{/cart}"
                            class="mt-2 d-flex align-items-center text-black link-offset-3-hover text-decoration-none">
                            <ion-icon class="fs-3" name="cart-outline"></ion-icon>
                            <p class="pt-3 mx-2">Giỏ Hàng (<span th:text="${cartItemCount}">0</span>)</p>
                        </a>
                        <span sec:authorize="hasRole('ADMIN') or hasRole('STAFF')">
                            <a th:href="@{/admin/products}" class="btn btn-info">Quản lý</a>
                        </span>
                        <!-- Cart -->
                    </div>
                </div>
            </div>
        </div>


    </nav>
    <nav class="navbar navbar-expand-lg border-bottom  bg-white">
        <div class="container-fluid" style="width: 90%; margin: auto;">
            <div class="d-none d-lg-block drop border bg-warning rounded ">
                <div class=" d-lg-flex justify-content-center align-items-center py-2 ">
                    <ion-icon name="menu-outline"></ion-icon>
                    <button class="dropbtn border-0 bg-warning">Danh Mục Sản Phẩm</button>
                </div>

                <div class="dropdown-contents rounded px-2 ">
                    <a href="#" class="d-flex justify-content-between align-items-center">
                        <p class="">Ghế nhựa</p>
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                    <a href="#">Ghế Nhựa</a>
                    <a href="#">Ghế Nhựa</a>
                </div>
                <ul class="dropdown-menu w-100 ">
                    <li th:each="category : ${allCategory}"><a
                            th:href="@{'/product/category/' + ${category.categoryId}}" th:text="${category.name}"
                            class="dropdown-item" href="#"></a></li>

                </ul>
            </div>
            <a class="navbar-brand d-block d-lg-none" href=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" th:href="@{/home/index}">Trang Chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/about}">Giới Thiệu</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-block d-lg-none" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Sản Phẩm
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/new}">Tin Tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/contact}">Liên Hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>