<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Product Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title fw-semibold mb-4">Thêm tài khoản</h1>
                    <table class="table table-striped">
                        <form th:action="@{/admin/products/add}" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name:</label>
                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description:</label>
                                <input class="form-control" id="description" name="description"></input>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="form-label">Price:</label>
                                <input type="number" class="form-control" id="price" name="price">
                            </div>
                            <div class="mb-3">
                                <label for="quantityInStock" class="form-label">Quantity in Stock:</label>
                                <input type="number" class="form-control" id="quantityInStock" name="quantityInStock">
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Image:</label>
                                <input type="file" class="form-control" id="image" accept="image/*" name="image"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Product</button>

                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title fw-semibold mb-4">Tìm kiếm</h1>
                        <form th:action="@{/admin/products/searchName}" method="get">
                            <input type="text" name="name" placeholder="Tìm kiếm tên sản phẩm" required>
                            <button type="submit" class="btn btn-success">Tìm kiếm Tên</button>
                            <form th:action="@{/admin/products/searchId}" method="get">
                                <input type="text" name="productId" placeholder="Tìm kiếm ID sản phẩm" required>
                                <button type="submit" class="btn btn-secondary">Tìm kiếm ID</button>
                            </form>
                        </form>

                        <form th:action="@{/admin/products/searchPrice}" method="get">
                           <li> Min</li>
                            <input id="min" th:name="min" required />
                            <br />
                           <li> Max</li>
                            <input id="max" th:name="max" required />
                            <br />
                            <button type="submit" class="btn btn-danger">Xem theo giá</button>
                        </form>
                </div>
            </div>
        </div>
    </div>






    <!-- Liên kết hoặc nút để hiển thị tất cả sản phẩm -->
    <form th:action="@{/admin/products}" method="get">
        <button type="submit" class="btn btn-primary">Show all</button>
    </form>

    <!-- <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Qty</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.quantityInStock}"></td>
                <td> <img style="width: 100px" th:src="@{'/assets/images/' + ${product.image}}"></td>
                <td>
            <a th:href="@{'/admin/products/edit/' + ${product.productId}}">Edit</a>
            <a th:href="@{'/admin/products/delete/' + ${product.productId}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table> -->

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Quản Lí Sản Phẩm</h5>
                    <div class="card mb-0">
                        <table border="1">
                            <tr>
                                <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Qty</th>
                                    <th>Image</th>
                                    <th>Actions</th>
                                </thead>
                            </tr>
                            <tbody>
                                <tr th:each="product : ${products}">
                                    <td th:text="${product.productId}"></td>
                                    <td th:text="${product.name}"></td>
                                    <td th:text="${product.description}"></td>
                                    <td th:text="${product.price}"></td>
                                    <td th:text="${product.quantityInStock}"></td>
                                    <td> <img style="width: 100px" th:src="@{'/assets/images/' + ${product.image}}">
                                    </td>
                                    <td>
                                        <a th:href="@{'/admin/products/edit/' + ${product.productId}}">Edit</a>
                                        <a th:href="@{'/admin/products/delete/' + ${product.productId}}">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/admin/dashboard}">Back to Admin Dashboard</a>
</body>

</html>