<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Đăng ký</title>
</head>
<body>
	    <h2>Đăng ký tài khoản</h2>
    <form th:action="@{/register}" method="post">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" th:field="${account.username}" required>
        
        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" th:field="${account.password}" required>
        
        <label for="email">Địa chỉ email:</label>
        <input type="email" id="email" name="email" th:field="${account.email}" required>

        <label for="fullName">Họ và tên:</label>
        <input type="text" id="fullName" name="fullName" th:field="${account.fullName}" required>

        <label for="address">Địa chỉ:</label>
        <input type="text" id="address" name="address" th:field="${account.address}" required>

        <button type="submit">Đăng ký</button>
    </form> 

</body>
</html>
